@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    background-image: radial-gradient(steelblue,black);
}
body{
    font-family: poppins, sans-serif;
    width: 532px;
    margin: auto;
    border: 1px solid #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(gratisography-ominous-landscape-free-stock-photo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
}
main {
    background-image: radial-gradient(steelblue,black);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }
  canvas {
    border: 5px ridge gray;
    background-image: radial-gradient(firebrick,black);
    box-shadow: 5px 5px 5px black;
    max-height: 500px;
    width: 300px;
    margin: 3rem 0 6rem;
  }
.navbar{
    background-image: linear-gradient(to top right, rgb(31, 31, 31), rgba(158, 40, 40));
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo a{
    font-size: 35px;
    color: whitesmoke;
    font-weight: bolder;
    margin-left: 0.2rem;
    text-shadow: 1px 1px 1px black;
}
.logo a:hover{
    color: gold;
}
.li{
    list-style-type: none;
    display: inline-block;
}
.li a{
    color: white;
    margin-right: 0.2rem;
    text-shadow: 1px 1px 1px black;
}
.li a:hover,
.li a:focus{
    color: gold;
}
header{
    position: sticky;
    top: 0;
}
footer{
    width: inherit;
    max-width: inherit;
    padding: 1rem;
    height: fit-content;
    bottom: 0;
    background-image: linear-gradient(to top right, rgb(31, 31, 31, 0.9), rgba(158, 40, 40, 0.9));
    backdrop-filter: blur(1rem);
    border-top: 3px double gray;   
    color: whitesmoke;
    text-align: center;
    font-size: small;
}
footer img{
    display: inline-block;
    margin: auto;
    align-items: center;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
}
